@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  box-sizing: border-box;
  padding: 0px;
  background-color: rgb(218, 249, 221);
}
textarea{
    width: 28%;
}
form {
    transform: translate(50%,15%);
    width: 50%;
    height: auto;
}
input {
  width: 100%;
  border: none;
  padding: 10px 10px ;
}
label {
  float: left;
  padding: 15px;
  width: 300px;
  padding-top: 1px;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}
#btn{
    margin-top: -1px;
    color: white;
    border: none;
    background-color: rgb(237, 20, 20);
    border-radius: 21px;
    font-size: larger;
    font-family: "Bebas Neue", cursive;
}
#btn:hover{background-color: rgb(169, 168, 168);}

.flotting-text{
    position:absolute;
    top: 180px;
    right: 10px;
    transform: rotate(90deg);
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Bebas Neue", cursive;
}