@media only screen and (max-width: 600px) {
  form {
    display: none;
  }
  .textp{
    display: block;
    position: absolute;
    bottom: 100px;
    left: 30px;
    font-family: "Bebas Neue", cursive;
  }
  .textp > b{
    color: red;
  }
}
